<h1><%= @story[:title] %></h1>
<div class="mdl-grid">
  <% @characters.each do |c| %>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img src="<%= c[:thumbnail][:path] %>/standard_incredible.jpg" alt="<%= c[:name] %>">
      </div>
      <div class="mdl-card__title">
        <h3><%= c[:name] %></h3>
      </div>
    </div>
  <% end %>
</div>

<p>
  <small><%= raw @attributtion_text %></small>
</p>
